
<div class="row mt-3">
  <div class="col-lg-3 mb-2">
    <div class="card bg-light sidebar">
        <div class="form-group card-body">
            <label for="dataInicio">Periodo Emissão Nota</label>
            <input type="date" class="form-control" id="dataInicio" aria-describedby="dataInicio" placeholder="Data Inicial">
            <div class="text-center mt-1 mb-1">até</div>
            <input type="date" class="form-control" id="dataFim" aria-describedby="dataFim" placeholder="Data Final">
        </div>
        <button class="btn btn-primary">Filtrar</button>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Valor Total: <b>R$ 100.002,00</b></h5>
            <small>Data Emissao: <b>01/12/2019</b></small>
            </div>
            <span class="d-block">Valor Mercadoria:  <b>R$ 100.000,00</b></span>        
            <span class="d-block">Valor do Desconto: <b>R$ 8,00</b> </span>        
            <span class="d-block">Valor Frete: <b>R$ 10,00</b></span>        
            <small class="text-primary"><u><b>Registrar (Aprovacao/Visto)</b></u></small>
        </a>

        <h5 class="alert alert-info">Você não tem nenhuma nota pendente de Aprovação/Visto </h5>
    </div>
  </div>
</div>
