
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="isLoggedIn$ | async">
    <button
      class="navbar-toggler"
      type="button"
      (click)="CollapseMenu()"
      data-toggle="collapse"
      data-target="#textoNavbar"
      aria-controls="textoNavbar"
      aria-expanded="false"
      aria-label="Alterna navegação"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ml-2 mr-auto">Micro Universo</a>
    <span class="navbar-text">
      {{ userName | async }} | <button class="btn btn-secondary btn-sm" (click)="logoff()">logoff</button>
    </span>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isLoggedIn$ | async">
    <div class="collapse navbar-collapse" id="textoNavbar" [ngClass]="isCollapsed ? '' : 'show'" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="CollapseMenu()" [routerLink]="['aprovacao-notas-compra']" >Aprovação De Notas de Compra </a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
